.container {
    padding: 20px;
}

h1 {
    text-align: center;
    font-size: 100px;
    color: black;
    font-weight: bold;
}

.overform {
    columns: 18rem;
    padding: 10px;
    border-radius: 10px 30px;
}

.overform button {
    padding: 5px 30px;
    border-radius: 10px;
    margin-top: 40px;
}

.overform input {
    padding: 10px;
    border-radius: 10px;
    margin: 10px;
}

@media (min-width:768px) {
    .container h1 {
        font-size: 100px;
        text-align: center;
    }

    .overform {
        display: grid;
    }
}

@media screen {
    
}